.cell{
    -fx-background-color: black;
    -fx-max-height: 54px;
    -fx-max-width: 54px;
    -fx-min-width: 54px;
    -fx-min-height: 54px;
}
.empty{
    -fx-background-color: rgba(0,0,0,0) !important;
    -fx-cursor: inherit !important;
}
.toolcard, .objectivecard{
    -fx-min-height: 202px;
    -fx-max-height: 202px;
    -fx-min-width: 138px;
    -fx-max-width: 138px;
}
.clickable .cell:hover,.clickable .toolcard:hover, .draggable .cell:hover{
    -fx-background-color: rgba(75, 255, 75, 0.8);
    -fx-cursor: hand;
}
.toolcard:hover{
    -fx-min-height: 301px;
    -fx-max-height: 301px;
    -fx-min-width: 205px;
    -fx-max-width: 205px;
}
.selected{
    -fx-background-color: rgba(255,75,75,0.8);
}

.difficultyButton{
    -fx-background-color: rgb(150,170,255);
    -fx-min-height: 104px;
    -fx-max-height: 104px;
    -fx-min-width: 104px;
    -fx-max-width: 104px;
}

.difficultyButton:hover{
    -fx-cursor: hand;
    -fx-background-color: rgb(255,100,100);
}

.endButton{
    -fx-background-image: url("button.png");
    -fx-background-position: center;
    -fx-background-size: contain;
}
.endButton:hover{
    -fx-cursor: hand;
    -fx-background-size: null;
}
.button:hover{
    -fx-cursor: hand;
    -fx-border-style: solid;
    -fx-border-color: black;
}