.root{
    -fx-background-color: DARKBLUE;
}

.label{
    -fx-background-color: #93bcff;
    -fx-text-fill: black;
    -fx-font-size: 20;
}

.windowFrame{
    -fx-background-color: WHITE;
    -fx-border-color: YELLOW;
}

.redrow{
    -fx-border-radius: 0.05;
    -fx-background-image: url("button.png");
    -fx-border-color: WHITE;
}

.redrow:hover{
    -fx-border-color: RED;
    -fx-background-image: url("button1.png");
}

.redrow-button{
    -fx-background-image: url("/redrow.png");
}

